#{extends 'main.html' /}
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Consulta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         
      <div>
    <form action="/Application/Resultadoconsulta">
        <h1>Deseas consultar la información de algún alumno?</h1>
        <label for="valor">Ingresa la Matrícula del alumno:</label>
        <input id="valor" type="text" name="matricula"> 
        <button type="submit">Enviar</button>
    </form>
</div>
        
    </body>
</html>
