#{extends 'main.html' /}
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
           <ol>
            <li>#{list historialalumnos, as:'h'}</li>
            <li>${h.alumno.matricula}<br></li>
            <li>${h.alumno.Persona.Nombre}</li>
            <li>${h.alumno.Persona.ApellidoPaterno}</li>
            <li>${h.alumno.Persona.ApellidoMaterno}<br></li>
            <li>${h.id}<br></li>
            <li>${h.grupo.Nombre}<br></li>
            <li>${h.Periodo.Nombre}<br></li>
            <li>#{/list}</li>
           </ol>
        </div>
    </body>
</html>
